@keyframes rotation {
  0% {
    transform: rotate3d(1, 2, 1, 30deg) rotate(0deg);
  }

  50% {
    
      transform: rotate3d(1, 5, 1, 180deg) rotate(180deg);
    
  }

  100% {
    transform: rotate3d(1, 2, 1, 30deg) rotate(360deg);
  }
}



.body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.list-zone {
  padding-left: 0;
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
}

.listen-element {
 height: 50px;
 list-style-type: none;
 background-color: violet;
 transition: 1s;
 /* transform-origin: 100% 100%; */
}

.listen-element:hover {
  
  /* transform: scale(1.2); */
  transform: translate(-20px, -20px) rotate(10deg); 
}

.list {
  list-style-type: none;
  height: 50px;
  background-color: yellow;
}



.width {
  width: 300px;
}

main {
  width: 400px;
  height: 200px;
  padding: 50px;
  background-image: linear-gradient(135deg, white, cyan, white);
}

#example-element {
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  transition: transform 1.5s;
  animation: rotation linear 10s infinite;;
  /* transform: rotate3d(1, 1, 1, 30deg); */
}

.face {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: inherit;
  font-size: 60px;
  color: #fff;
}

.front {
    background: rgba(90,90,90,.7);
    transform: translateZ(50px);
}

.back {
    background: rgba(0,210,0,.7);
    transform: rotateY(180deg) translateZ(50px);
}

.right {
  background: rgba(210,0,0,.7);
  transform: rotateY(90deg) translateZ(50px);
}

.left {
  background: rgba(0,0,210,.7);
  transform: rotateY(-90deg) translateZ(50px);
}

.top {
  background: rgba(210,210,0,.7);
  transform: rotateX(90deg) translateZ(50px);
}

.bottom {
  background: rgba(210,0,210,.7);
  transform: rotateX(-90deg) translateZ(50px);
}

.select-form {
  margin-top: 50px;
}

.rotation {
  animation: rotation linear 20s infinite;
}

.back:hover {
  background-color: tomato;
}